<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Fyyur</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <br />
        <div class="container">
            {% include '/layouts/navbar.html' %}
            <div class="row mt-3">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <a class="btn btn-primary me-3" style="float: right" href="/shows/create">Create</a>
                </div>
            </div>
            <div class="row mb-4 mt-5">
                {% for item in shows %}
                <div class="col-md-4 mt-3">
                    <div class="card text-center">
                        <div style="text-align: center">
                            <img
                                src="{{ item.venue.image_link }}"
                                style="width: 150px; padding: 10px"
                                class="card-img-top"
                                alt="..."
                            />
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title">{{ item.start_time.strftime("%m/%d/%Y") }}</h4>
                            <p>
                                <a href="/artists/{{ item.artist_id }}" class="fw-bold">{{ item.artist.name }}</a>
                            </p>
                            <p class="card-text">Playing at</p>
                            <p><a href="/venues/{{ item.venue_id }}" class="fw-bold">{{ item.venue.name }}</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    </body>
</html>
